extends layout

block body
  header
    div.toptitle
      h1.logotype London Hackathons
  div.scroller(ng-controller='HackathonListCtrl')
    ul
      li(ng-repeat='hackathon in hackathons')
        div.hackathon
          div.break
            h2 {{hackathon.what}}
          div.content.constrained
            h3 {{hackathon.when}}
            p {{hackathon.where}}
            div.logo
              img(src="{{hackathon.img}}")
            div.sidetext
              p {{hackathon.about}}
              a.rsvp(onclick='window.open("{{hackathon.rsvp}}")') RSVP