body
    margin 0px 0px 0px 0px

header
    width: 100%
    top: 0px
    height: 375px
    background-image:   url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture19_1200.jpg")

.headline
    width: 840px
    margin: 0px auto 0px auto

.logotype
    text-align: center
    margin-top: 0px
    padding-top:50px
    font-size: 6em
    font-family: "museo-slab"


#content
	width:400px
	height:600px
	background-color: black;